input[class='cursor'] {
  border: 0;
  background-color: Black;
  color: White;
  font-family: monospace;
  font-size: 12pt;
  width: 300px;
  margin: 0;
  padding: 0;
}

input[class='cursor']:focus {
  outline: none;
}
