body {
  background-color: Black;
  font-family: monospace;
  color: White;
  font-size: 12pt;
}

input {
  border: 0;
  background-color: Black;
  color: White;
  font-family: monospace;
  font-size: 12pt;
}

input:focus {
  outline: none;
}
